<%- include('../layout/header', {title: "Add comment to Libary", user: user}) %>
<form  >
  <p>
   <textarea id="content" name="content"></textarea>
  </p>
  <p>
    <input id="post_comment_button" type="button" value="Post Comment" />
  </p>
</form>
