<%- include('../layout/header', {title: "Forum List", user: user}) %>
<% title = "Forum List" %>
<h1>List of Forum enteries</h1>
<ul>
  <% forum.forEach(function(entry) { %>
    <%- include('_forum', {forum: entry}) %>
  <% }); %>
</ul>
<a href="/forum/new">Add forum</a>
<%- include('../layout/footer', {title: "homepage", user: user}) %>
